# fly.toml app configuration file generated for lootstash-catalog-api on 2026-02-06T23:42:24Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'lootstash-catalog-api'
primary_region = 'iad'

[build]

[deploy]
  release_command = "/server seed d2 --catalog /catalogs/d2"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
