app = "lootstash-catalog-api"
primary_region = "iad"

[build]

[deploy]
  release_command = "/server seed d2 --catalog /catalogs/d2"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0

[env]
  PORT = "8080"
